@mixin btn {
	padding: 2rem 4rem;
	border: none;
	border-radius: 100px;
	box-shadow: 2px 2px 10px black;
	font-size: 2rem;
	text-transform: uppercase;
	background-color: $red-color;
	color: white;
	cursor: pointer;

	&:active{
		animation: click .2s;
	}
}

@keyframes click {
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(3px);
		box-shadow: 0px 0px 3px black;
	}
}

@mixin loaderStyle {
	width: 100px;
	height: 100px;
	border: 16px solid black;
	border-top: 16px solid $red-color;
	border-radius: 50%;
	
}



@mixin mainCircle {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	// border: 2px solid black;
	// border-radius: 50%;
	
	&__logo{
		width: 30rem;
		height: 8rem;
		background-image: url('../img/envelo-logo-2.png');
		background-position: center;
		background-size: cover;
	}
	&__title {
		font-size: 6rem;
	}

	&__info {
		padding: 1rem;
		font-size: 2rem;
		text-align: center;

		&--alert {
			margin-top: 1rem;
			font-weight: bold;
		}
	}
}


@mixin mainCirclebig {

	&__logo {
		width: 400px;
		height: 150px;
	}
	&__title {
		font-size:10rem;
	}

	&__info {
		padding: 1rem;
		font-size: 4rem;
		text-align: center;

		&--alert {
			font-weight: bold;
		}
	}

	&__btn{
		padding: 2rem 4rem;
		font-size: 2.5rem;
	}
}


@mixin errorStyle{
	margin-top: 0.5rem;
	font-size: 1.4rem;
	text-align: center;
	color: $red-color;
	visibility:hidden;

}

@mixin popupStyle{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:center;
	height: 60vh;
	width: 90%;
	background-color: $red-color;
	border-radius: 15px;
	box-shadow: 0px 0px 100vh black;
	overflow: hidden;


	&__logo{
		background-image: url('../img/envelo-logo-1.png');
		width: 300px;
		height: 90px;
		background-size: cover;
		background-position: center;
	}
	&__title{
		font-size: 3rem;
	}

	&__info{
		margin: 1rem;
		text-align: center;
		font-size: 1.8rem;
		
		&--alert{
			margin-top: 1rem;
			font-weight: bold;
			// margin-top: 1rem;
		}
	}

	&__buttons{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 90%;
		
		
		&-end, &-back{
			margin: 1rem;
			padding: 1rem 1rem;
			font-size: 1.4rem;
			color: $red-color;
			background-color: #fff;
		}

		&-back{
			color:black;
			background-color: $white-color;
		}
	}


}


@mixin popupStyleBig{
	height: 50vh;
	width: 50%;
	background-color: $red-color;
	border-radius: 15px;
	box-shadow: 0px 0px 100vh black;

	&__logo{
		width: 400px;
		height: 180px;
		background-image: url('../img/envelo-logo-1.png');
		background-size: cover;
		background-position: center;
	}
	&__title{
		font-size: 6rem;
	}

	&__info{
	
		margin: 1rem;
		text-align: center;
		font-size: 2.5rem;
		
		&--alert{
			margin-top: 1rem;
		}
	}

	&__buttons{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		// width: 90%;
		
		
		&-end, &-back{
			margin: 1rem;
			padding: 2rem;
			font-size: 2rem;
			width: 90%;
		}

		&-back{
			background-color: $white-color;
		}
	}


}


